
#main_ad {}

#main_ad > .carousel-inner > .item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


/* ÃƒÂ¥Ã‚Â½Ã¢â‚¬Å“ÃƒÂ¥Ã‚Â±Ã‚ÂÃƒÂ¥Ã‚Â¹Ã¢â‚¬Â¢ÃƒÂ¥Ã‚Â®Ã‚Â½ÃƒÂ¥Ã‚ÂºÃ‚Â¦ÃƒÂ¥Ã‚Â¤Ã‚Â§ÃƒÂ¤Ã‚ÂºÃ…Â½768ÃƒÂ¦Ã¢â‚¬â€Ã‚Â¶ÃƒÂ¯Ã‚Â¼Ã…â€™ÃƒÂ¥Ã‚Â°Ã¢â‚¬Â ÃƒÂ¥Ã¢â‚¬Â¦Ã†â€™ÃƒÂ§Ã‚Â´Ã‚Â ÃƒÂ©Ã‚Â«Ã‹Å“ÃƒÂ¥Ã‚ÂºÃ‚Â¦ÃƒÂ¨Ã‚Â®Ã‚Â¾ÃƒÂ§Ã‚Â½Ã‚Â®ÃƒÂ¤Ã‚Â¸Ã‚Âº410px */

@media (min-width: 768px) {
  #main_ad > .carousel-inner > .item {
    height: 410px;
  }
}

#main_ad > .carousel-inner > .item > img {
  width: 100%;
}


/* ÃƒÂ§Ã‚Â½Ã¢â‚¬ËœÃƒÂ§Ã‚Â«Ã¢â€žÂ¢ÃƒÂ§Ã¢â‚¬Â°Ã‚Â¹ÃƒÂ¨Ã¢â‚¬Â°Ã‚Â² */

#tese {
  padding: 50px 0;
  border-bottom: 1px solid #c0c0c0;
}
.icon-uniE907:before {
  content: "\e945";
  color: #337ab7;
}

#tese i {
  font-size: 34px;
}

#tese > .container > .row > div {
  margin-top: 20px;
  margin-bottom: 20px;
}

#tese > .container > .row > div > a {
  color: #008655;
}

#tese > .container > .row > div > a:hover {
  color: #008655;
  text-decoration: none;
}


/* ÃƒÂ§Ã‚Â«Ã¢â‚¬Â¹ÃƒÂ¥Ã‚ÂÃ‚Â³ÃƒÂ©Ã‚Â¢Ã¢â‚¬Å¾ÃƒÂ§Ã‚ÂºÃ‚Â¦ */

#ljyy {
  border-bottom: 1px solid #c0c0c0;
  padding: 20px 0;
}

#ljyy > .container > p {
  font-size: 14px;
  margin-bottom: 0;
}

#ljyy > .container > .pull-left > span,
#ljyy > .container > .pull-left > a {
  color: #e92322;
}

#ljyy > .container > .pull-left > a {
  border-bottom: 1px dashed #e92322;
}

#ljyy > .container > .pull-left > a:hover {
  text-decoration: none;
}

.icon-uniE906:before {
  content: "\e906";
}

.icon-uniE905:before {
  content: "\e905";
}


/* ÃƒÂ¦Ã…Â½Ã‚Â¨ÃƒÂ¨Ã‚ÂÃ‚ÂÃƒÂ¤Ã‚ÂºÃ‚Â§ÃƒÂ¥Ã¢â‚¬Å“Ã‚Â */

#products {
  background-color: #f0f0f0;
  padding: 40px 0;
}


/*ÃƒÂ§Ã¢â‚¬ÂºÃ‚Â´ÃƒÂ¦Ã…Â½Ã‚Â¥ÃƒÂ¨Ã‚Â¿Ã¢â€žÂ¢ÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã¢â‚¬Â Ã¢â€žÂ¢pcÃƒÂ¤Ã‚Â¸Ã…Â ÃƒÂ¤Ã‚Â¹Ã…Â¸ÃƒÂ¤Ã‚Â¼Ã…Â¡ÃƒÂ¥Ã‚Â§Ã¢â‚¬Â¹ÃƒÂ§Ã‚Â»Ã‹â€ ÃƒÂ¦Ã…â€œÃ¢â‚¬Â°ÃƒÂ¦Ã‚Â¨Ã‚ÂªÃƒÂ¥Ã‚ÂÃ¢â‚¬ËœÃƒÂ¦Ã‚Â»Ã…Â¡ÃƒÂ¥Ã…Â Ã‚Â¨ÃƒÂ¦Ã‚ÂÃ‚Â¡*/


// #products > .container > .ul-wapper {
//   overflow-x: scroll;
// }


// @media (max-width: 768px) {
//   #products > .container > .ul-wapper {
//     overflow-x: scroll;
//   }
// }

#products > .container > .ul-wapper > .nav-tabs {
  padding-left: 20px;
}

#products > .container > .ul-wapper > .nav-tabs > li {}

#products > .container > .ul-wapper > .nav-tabs > li > a {
  font-size: 16px;
  color: #333;
}

#products > .container > .ul-wapper > .nav-tabs > li > a:hover {
  border-color: transparent;
  background-color: transparent;
  color: #000;
}

#products > .container > .ul-wapper > .nav-tabs > li.active {}

#products > .container > .ul-wapper > .nav-tabs > li.active > a {
  background-color: transparent;
  border: 0;
  border-bottom: 4px solid #e92322;
}

#products > .container > .tab-content {
  padding: 20px 0;
}


/* ÃƒÂ¦Ã¢â‚¬â€œÃ‚Â°ÃƒÂ©Ã¢â‚¬â€Ã‚Â» */

#news {
  padding: 50px 0;
  border-bottom: 1px solid #c0c0c0;
}

#news .news-title {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px dashed #c0c0c0;
  position: relative;
  margin-right: 10px;
}

#news .news-title::after {
  content: ' ';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  position: absolute;
  bottom: -5px;
  right: -10px;
}


/*#news .nav-pills a i {
  font-size: 50px;
}*/

.icon-news01:before {
  content: "\e90e";
  font-size: 28px;
  color: #EAEAEA;
}

.icon-news02:before {
  content: "\e90f";
  font-size: 28px;
  color: #EAEAEA;
}

.icon-news03:before {
  content: "\e910";
  font-size: 28px;
  color: #EAEAEA;
}

.icon-news04:before {
  content: "\e911";
  font-size: 28px;
  color: #EAEAEA;
}

@media (max-width: 768px) {
  #news .nav-stacked > li {
    float: left;
    margin-right: 20px;
  }
}


/*ÃƒÂ¥Ã‚ÂÃ‹â€ ÃƒÂ¤Ã‚Â½Ã…â€œÃƒÂ¤Ã‚Â¼Ã¢â€žÂ¢ÃƒÂ¤Ã‚Â¼Ã‚Â´*/

#hzhb {
  padding: 30px 0;
}

#hzhb ul {
  padding: 0;
  list-style: none;
  width: 818px;
  position: relative;
  overflow: hidden;
}

#hzhb ul li {
  float: left;
}

#hzhb ul li + li {
  border-left: 1px dashed #e0e0e0;
}

#hzhb ul li a {
  padding: 10px 20px;
  font-size: 50px;
  color: #888;
}

#hzhb ul li a:hover {
  text-decoration: none;
}

.icon-uniE930:hover {
  color: #df3232;
}

.icon-uniE930:before {
  content: "\e945";
}

.icon-uniE92F:hover {
  color: #e8380d;
}

.icon-uniE92F:before {
  content: "\e924";
}

.icon-uniE92E:hover {
  color: #ed6f00;
}

.icon-uniE92E:before {
  content: "\e942";
}

.icon-uniE92A:hover {
  color: #159f69;
}

.icon-uniE92A:before {
  content: "\e91a";
}

.icon-uniE929:hover {
  color: #07569e;
}

.icon-uniE929:before {
  content: "\e922";
}

.icon-uniE931:hover {
  color: #004098;
}

.icon-uniE931:before {
  content: "\e914";
}

.icon-uniE92C:hover {
  color: #d32019;
}

.icon-uniE92C:before {
  content: "\e92c";
}

.icon-uniE92B:hover {
  color: #3eac4a;
}

.icon-uniE92B:before {
  content: "\e92b";
}

.icon-uniE92D:hover {
  color: #2bb289;
}

.icon-uniE92D:before {
  content: "\e92d";
}


/*ÃƒÂ¨Ã¢â‚¬Å¾Ã…Â¡ÃƒÂ¦Ã‚Â³Ã‚Â¨ÃƒÂ¥Ã…â€™Ã‚ÂºÃƒÂ¥Ã…Â¸Ã…Â¸*/

#footer {
  height: 200px;
}


/* BootstrapÃƒÂ¦Ã¢â‚¬Â°Ã‚Â©ÃƒÂ¥Ã‚Â±Ã¢â‚¬Â¢ÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚Â */

.panel-czbk {
  border: 0;
  border-radius: 0;
  box-shadow: 1px 1px 5px #ccc;
  color: #777;
}

.panel-czbk p {
  margin-bottom: 0;
}

.panel-czbk.actived {
  background-color: #008655;
  color: #fff;
}

.panel-czbk.actived::before {
  content: " ";
  font-size: 50px;
  position: absolute;
  top: -11px;
  left: 15px;
}

.panel-czbk.disabled {
  background-color: #e0e0e0;
}

.panel-czbk > .panel-heading {
  float: right;
  width: 120px;
  padding: 45px 0;
  height: 160px;
  border-left: 1px dashed #c0c0c0;
  text-align: center;
  position: relative;
}

.panel-czbk > .panel-heading::before,
.panel-czbk > .panel-heading::after {
  content: ' ';
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #f0f0f0;
  position: absolute;
}

.panel-czbk > .panel-heading::before {
  top: -8px;
  left: -8px;
}

.panel-czbk > .panel-heading::after {
  bottom: -8px;
  left: -8px;
  box-shadow: 0 2px 1px #ccc inset;
}

.panel-czbk > .panel-heading > p > strong {
  font-size: 30px;
}

.panel-czbk > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}

.panel-czbk > .panel-heading > .tooltips {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 26px;
}

.panel-czbk > .panel-heading .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  background-color: transparent;
  padding: 2px 2px 0 0;
  margin: 1px;
}

.panel-czbk > .panel-heading .badge-one {
  color: yellow;
  border-color: yellow;
}

.panel-czbk > .panel-heading .badge-two {
  color: blue;
  border-color: blue;
}

.panel-czbk > .panel-body {
  margin-right: 120px;
  height: 160px;
}

.panel-czbk > .panel-body > h4,
.panel-czbk > .panel-body > .row > div {
  margin: 5px 0;
}

.btn-cqhk {
  color: #ffffff;
  background-color: #E92322;
  border-color: #DB3B43;
}

.btn-cqhk:hover,
.btn-cqhk:focus,
.btn-cqhk:active,
.btn-cqhk.active,
.open .dropdown-toggle.btn-cqhk {
  color: #ffffff;
  background-color: #E92322;
  border-color: #DB3B43;
}

.btn-cqhk:active,
.btn-cqhk.active,
.open .dropdown-toggle.btn-cqhk {
  background-image: none;
}

.btn-cqhk.disabled,
.btn-cqhk[disabled],
fieldset[disabled] .btn-cqhk,
.btn-cqhk.disabled:hover,
.btn-cqhk[disabled]:hover,
fieldset[disabled] .btn-cqhk:hover,
.btn-cqhk.disabled:focus,
.btn-cqhk[disabled]:focus,
fieldset[disabled] .btn-cqhk:focus,
.btn-cqhk.disabled:active,
.btn-cqhk[disabled]:active,
fieldset[disabled] .btn-cqhk:active,
.btn-cqhk.disabled.active,
.btn-cqhk[disabled].active,
fieldset[disabled] .btn-cqhk.active {
  background-color: #E92322;
  border-color: #DB3B43;
}

.btn-cqhk .badge {
  color: #E92322;
  background-color: #ffffff;
}

.navbar-cqhk {
  background-color: #fff;
  border-color: #f5f5f5;
  margin-bottom: 0;
  top: 0;
  width: 100%;
}

.navbar-cqhk .navbar-brand {
  color: #777;
  height: 80px;
}

.navbar-cqhk .navbar-brand:hover,
.navbar-cqhk .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-cqhk .navbar-text {
  color: #777;
}

.navbar-cqhk .navbar-nav > li > a {
  color: #777;
  line-height: 48px;
  font-size: 14px;
}

.navbar-cqhk .navbar-nav > li > a:hover,
.navbar-cqhk .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 2px solid #e92322;
}

.navbar-cqhk .navbar-nav > .active > a,
.navbar-cqhk .navbar-nav > .active > a:hover,
.navbar-cqhk .navbar-nav > .active > a:focus {
  color: #555;
  background-color: transparent;
  border-bottom: 2px solid #e92322;
}

.navbar-cqhk .navbar-nav > .disabled > a,
.navbar-cqhk .navbar-nav > .disabled > a:hover,
.navbar-cqhk .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}

.navbar-cqhk .navbar-toggle {
  border-color: #ddd;
  margin-top: 23px;
  margin-bottom: 23px;
}

.navbar-cqhk .navbar-toggle:hover,
.navbar-cqhk .navbar-toggle:focus {
  background-color: #ddd;
}

.navbar-cqhk .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-cqhk .navbar-collapse,
.navbar-cqhk .navbar-form {
  border-color: #e7e7e7;
}

.navbar-cqhk .navbar-nav > .open > a,
.navbar-cqhk .navbar-nav > .open > a:hover,
.navbar-cqhk .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

@media (max-width: 767px) {
  .navbar-cqhk .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-cqhk .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-cqhk .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-cqhk .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-cqhk .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-cqhk .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-cqhk .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-cqhk .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-cqhk .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}

.navbar-cqhk .navbar-link {
  color: #777;
}

.navbar-cqhk .navbar-link:hover {
  color: #333;
}

.navbar-cqhk .btn-link {
  color: #777;
}

.navbar-cqhk .btn-link:hover,
.navbar-cqhk .btn-link:focus {
  color: #333;
}

.navbar-cqhk .btn-link[disabled]:hover,
fieldset[disabled] .navbar-cqhk .btn-link:hover,
.navbar-cqhk .btn-link[disabled]:focus,
fieldset[disabled] .navbar-cqhk .btn-link:focus {
  color: #ccc;
}
h4.media-heading {
  color: #008655;
}
ul {
  list-style: none;
}
.news {
  color: #666;
  font-size: 16px;
  line-height: 30px;
}
.news ul li:hover {
  cursor: pointer;
  color: #337ab7;
  font-size: 18px;
}